/* Variables
-------------------------------------------------------------- */

$size-sm:        90px;
$size:           140px;
$spacing:        5px;

$player-1-icon:  "\f00d";
$player-2-icon:  "\f10c";

$player-1-color: #dc685a;
$player-2-color: #ecaf4f;
$hover-color:    #3d4250;